* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #f3e2ae;
}

h1 {
  font-family: 'Berkshire Swash';
  color: #fff
}

header.main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #a44200;
  display: flex;
  flex-wrap: wrap;
  z-index: 900;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

header.main-sidebar-open {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #a44200;
  display: flex;
  flex-wrap: wrap;
  z-index: 900;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.main h1 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  line-height: 60px;
  color: #fff;
}

@media (max-width: 800px) {
  header.main {
    align-items: flex-start;
    padding-left: 20px;
  }
}

.btn-toggle-nav-closed {
  width: 100px;
  height: 100px;
  margin-left: 0;
  margin-top: 0;
  background-color: #3c1518;
  background-image: url("../public/logo192.png");
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  position: fixed;
}


.btn-toggle-nav-open {
  width: 300px;
  height: 100px;
  margin-left: 0;
  margin-top: 0;
  background-color: #3c1518;
  background-image: url("../public/logo192.png");
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  position: fixed;
}

.btn-toggle-nav-closed:hover {
  background-color: #69140e;
}

.btn-toggle-nav-open:hover {
  background-color: #69140e;
}

.sidebar-closed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 90px;
  height: calc(100vh - 100px);
  padding: 0 5px;
  background-color: #a44200;
  z-index: 900;
  transition: all 0.3s ease-in-out;
}

.sidebar-open {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 290px;
  height: calc(100vh - 100px);
  padding: 0 5px;
  background-color: #a44200;
  z-index: 900;
  transition: all 0.3s ease-in-out;
}

.sidebar-open ul {
  padding-top: 15px;
  overflow: hidden;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.sidebar-open ul li {
  line-height: 60px;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.sidebar-open ul li span, .sidebar-open ul li button {
  display: block;
  height: 60px;
  padding: 0 10px;
  background-color: #a44200;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.sidebar-open ul li button:hover {
  background-color: #3c1518;
}

.search {
  height: 25px;
  display: block;
}

#drinks-container {
  display: inline-flex;
  margin-left: 120px;
  margin-top: 120px;
  width: calc(100% - 120px);
  transition: all 0.3s ease-in-out;
  text-align: left;
}

#drinks-container-sidebar-open {
  display: inline-flex;
  margin-left: 320px;
  margin-top: 120px;
  width: calc(100% - 320px);
  transition: all 0.3s ease-in-out;
  text-align: left;
}

#drink-list {
  width: 20%;
  padding-left: 15px;
  border: 2px solid #3c1518;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .5);
  display: none;
  height: fit-content;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

.drink-list-item {
  display: flex;
  height: auto;
  align-items: center;
  padding: 10px 5px;
  cursor: pointer;
}

.drink-list-item:hover {
  transform: scale(1.10);
}

#drink-list img {
  margin-right: 10px;
  border-radius: 12px;
}

.drink-thumb {
  width: 50px;
  height: auto;
}

